@model PMCTool.Models.Core.Location
@{
    ViewData["Title"] = "Acciones a realizar";
    Layout = "_Layout";
    var envName = Context.Request.Cookies["pmctool-name-env"]; 

}
@section ScriptsHeader
{ 
    <link href="~/css/vcore/global-estatus.css" rel="stylesheet" asp-append-version="true" />
}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12 card">
            <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                <div class="col-md-12 pt-4">
                    <small class="font-weight-normal">Analytics</small>
                    <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                        <span class="title-report">Estatus global </span>
                    </h4>
                </div>
                <div class="">
                    <!-- allow-->
                    <div class="container-fluid pl-0 ml-0">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-5">
                                        <select name="portfolio" class="selectpicker sel-portafolio" id="selportafolio" data-title="Selecciona un portafolio" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                            @foreach (var portfolio in ViewBag.portfolios)
                                            {
                                                <option value="@portfolio.Key">@portfolio.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-5">
                                        <select name="program"  class="selectpicker programa" id="selprograma" data-title="Selecciona un programa" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                            
                                        </select>
                                    </div>
                                    <div class="col-sm-2 pt-2">
                                        <button type="button" class="btn btn-default btn-default btn-report">
                                            <i class="fas fa-file-pdf"></i> Generar reporte
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-1">
                            <div class="col-md-12 text-right text-right">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button type="button" class="btn btn-default btn-default">
                                            <i class="fas fa-file-pdf"></i> Exportar
                                        </button>
                                        <a href="http://doc.pmc-tool.mx/PMCAnalytics/demo25/1B/" class="btn btn-default btn-success">
                                            <i class="fas fa-file-pdf"></i> Table cuando se selecione un Programa
                                        </a>
                                        <button type="button" class="btn btn-default btn-default">
                                            <i class="fas fa-file-pdf"></i> Cerrar reporte
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 charts">
                                <figure class="highcharts-figure">
                                    <div id="container1" style="height: 500px;"></div>
                                    <p class="highcharts-description"></p>
                                </figure>
                            </div>
                            <div class="col-md-6 charts">
                                <figure class="highcharts-figure">
                                    <div id="container2" style="height: 500px;"></div>
                                    <p class="highcharts-description"></p>
                                </figure>
                            </div>
                            <div class="col-12" id="table" hidden>
                                <div class="card">
                                    <div class="card-body ">
                                        <table class="table">
                                            <thead class="thead-light header-table-projects">
                                                <tr style="background: #c1c1c1;">
                                                    <th>CODIGO</th>
                                                    <th>PROYECTO</th>
                                                    <th>ETAPA</th>
                                                    <th>FASE</th>
                                                    <th>ADMINISTRADOR DEL PROYECTO</th>
                                                    <th>LIDER</th>
                                                    <th>FECHA PLANEADA DE INICIO</th>
                                                    <th>FECHA PLANEADA DE FIN</th>
                                                    <th>ESTATUS</th>
                                                    <th>AVANCE PLANEADO</th>
                                                    <th>AVANCE REAL</th>
                                                </tr>
                                            </thead>
                                            <tbody class="body-table-projects">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end allow-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DETALLE DEL REPORTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-light header-table-graphic">
                        
                    </thead>
                    <tbody class="body-table-graphic">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
            </div>
        </div>
    </div>
</div> 

<!--Sección de scripts-->
@section scripts
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/themes/adaptive.js"></script>
    <!--  DataTable Plugin -->
    <script src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/js/core/analitycs/vActionsToMake.js" asp-append-version="true"></script>
    <script type="text/javascript">
        
    </script>
}
 
