@model PMCTool.Models.Core.Location
@{
    ViewData["Title"] = "Acciones a realizar";
    Layout = "_Layout";
    var envName = Context.Request.Cookies["pmctool-name-env"];

}
@section ScriptsHeader
{
    <link href="~/css/vcore/global-estatus.css" rel="stylesheet" asp-append-version="true" />
}
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px 4px;
        vertical-align: middle;
        border-color: #E3E3E3;
    }

    td, th { /* table cells */
        padding: 10px;
    }

    table {
        border-spacing: 3px;
        border-collapse: separate;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px 4px;
        vertical-align: middle;
        border-color: #ffffff;
    }

    .bg {
        font-weight: 600;
        background: #d9d9d9;
    }

    .txt-center {
        text-align: center;
    }


    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid var(--highcharts-neutral-color-10, #e6e6e6);
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: var(--highcharts-neutral-color-60, #666);
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tbody tr:nth-child(even) {
        background: var(--highcharts-neutral-color-3, #f7f7f7);
    }

    .highcharts-description {
        margin: 0.3rem 10px;
    }

</style>

<div class="content bg-whitebg-white">
    <div class="container-fluid">
        <div class="col-md-12 card">
            <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                <div class="col-md-12 pt-4">
                    <small class="font-weight-normal">Analytics</small>
                    <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                        <span class="title-report">Ficha de proyecto	</span>
                    </h4>
                </div>
                <div class="">
                    <!-- allow-->
                    <div class="container-fluid pl-0 ml-0">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10 col-sm-10">
                                        <div class="btn-group bootstrap-select">
                                            <select name="projects" class="selectpicker sel-projects" id="selprojects" data-title="Proyectos" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                                @foreach (var project in ViewBag.projects)
                                                {
                                                    <option value="@project.Key">@project.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 text-right">
                                        <button type="button" class="btn btn-default btn-default btn-report">
                                            <i class="fas fa-file-pdf"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-1">

                            <div class="col-md-12">
                            </div>
                            <div class="col-12 pt-4">
                                <div class="card pt-2">
                                    <div class="card-body p-1">
                                        <div class="col-md-12 p-0">
                                            <h5 class="media align-items-center font-weight-bold  mb-0 mt-0">
                                                <span class="title-report">ACTINVER</span>
                                            </h5>
                                        </div>

                                        <div class="col-12 pt-4">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td scope="row" class="bg txt-center">CLIENTE</td>
                                                        <td class="bg txt-center">LİDER DEL PROYECTO</td>
                                                        <td class="bg txt-center">IDENTIFICADOR DEL PROYECTO</td>
                                                        <td class="bg txt-center">FECHA DE INICIO</td>
                                                        <td class="bg txt-center">MONTO MINIMO DEL CONTRATО</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row" class="txt-center" id="clientRow">ACTINVER</td>
                                                        <td class="txt-center" id="leaderRow">ÓSCAR BUCIO CRUZ</td>
                                                        <td class="txt-center" id="idProjectClientRow">OC 21-0819 ID 1202</td>
                                                        <td class="txt-center" id="startDateProjectRow">26/08/2021 </td>
                                                        <td class="txt-center" id="amountMinOfContractRow">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row" class="bg txt-center">PRIORIDAD</td>
                                                        <td class="bg txt-center">ADMINISTRADOR DEL PROYECTO</td>
                                                        <td class="bg txt-center">DIMENSIÓN DEL PROYECTO </td>
                                                        <td class="bg txt-center">FECHA DE FIN </td>
                                                        <td class="bg txt-center">MONTO MAXIMO DEL CONTRATO</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row" class="txt-center" id="priorityRow">MEDIA</td>
                                                        <td class="txt-center" id="projectManagerRow">JOSÉ EDUARDO BARRIGA SÁNCHEZ</td>
                                                        <td class="txt-center" id="projectDimensionRow">MEDIANO</td>
                                                        <td class="txt-center" id="endDateProjectRow">25/07/2025 </td>
                                                        <td class="txt-center" id="maxContractAmountRow">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row" class="bg txt-center">DESCRIPCIÓN GENERAL</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class="txt-center">Suministro y Prestación de Servicios.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-7">
                                                <div class="row text-center">
                                                    <div class="col-12">FASES DEL PROYECTO</div>
                                                </div>

                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row" class="bg txt-center">Etapa</td>
                                                            <td class="bg txt-center">Fecha planeada de inicio</td>
                                                            <td class="bg txt-center">Fecha planeada de Fin</td>
                                                            <td class="bg txt-center">Duracion (dias)</td>
                                                            <td class="bg txt-center">Estatus</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class="txt-center">Inicio</td>
                                                            <td class="txt-center">09/09/2021</td>
                                                            <td class="txt-center">26/08/2021</td>
                                                            <td class="txt-center">15 </td>
                                                            <td class="txt-center" style="background: #4CAF50;font-weight: 500;">En Tiempo</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class="txt-center">Planeación</td>
                                                            <td class="txt-center">09/09/2021</td>
                                                            <td class="txt-center">09/10/2021</td>
                                                            <td class="txt-center">15 </td>
                                                            <td class="txt-center" style="background: #cacaca;font-weight: 500;">Cerrado</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class="txt-center">Planeación</td>
                                                            <td class="txt-center">09/09/2021</td>
                                                            <td class="txt-center">09/10/2021</td>
                                                            <td class="txt-center">15 </td>
                                                            <td class="txt-center" style="background: #cacaca;font-weight: 500;">Cerrado</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>



                                        <div class="row pt-4" hidden>
                                            <div class="col-6  pt-4">
                                                <figure class="highcharts-figure">
                                                  
                                                </figure>

                                            </div>
                                            <div class="col-6  pt-4">
                                                <figure class="highcharts-figure">
                                                   
                                                </figure>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end allow-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Sección de scripts-->
@section scripts
{
    <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>

    <script src="~/js/core/analitycs/vProjectSheet.js" asp-append-version="true"></script>
    
}

