
@{
    ViewData["Title"] = "Organigrama";
}
    <link href="~/css/Org-chart.css" rel="stylesheet" />
    <link href="~/css/Treant.css?v=1.0.0" rel="stylesheet" />
    <link href="~/css/simple-scrollbar.css" rel="stylesheet" />
    <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
    <div class="content bg-white">
        <div class="container-fluid">
            <div class="col-md-12 card">
                <div class="card-header ">
                    <div class="row  justify-content-center pt-4">
                        <div class="col-md-10 mt-0 pt-0">
                            <div class="header-text text-left">
                                <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                                    <span class="txt-blue">Organigrama</span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2 text-right pt-2">
                            <a href="../" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row  justify-content-center pt-0 mt-4">
                        <div class="col-md-12">
                            <div id="OrganigramaEmpresa" class="tab-pane fade show active" role="tabpanel" aria-labelledby="account-tab">
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <div class="row justify-content-center">
                                            <div class="col-md-9 text-center">
                                                <h6 class="tx-normal">Empresas</h6>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-9">
                                                <select data-title="Seleccione una empresas" name="currency" class="selectpicker" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-9 text-center" id="mensaje"></div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <button id="btnbuscar"class="btn btn-default btn-wd">Buscar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <div class="chart" id="OrganiseChart1"></div>
                                        <figure class="highcharts-figure">
                                            <div id="container"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end allow-->
            </div>

        </div>
    </div>
@section Scripts {
    <!--HIGHCHARTS-->
    <script src="~/js/plugins/highcharts/highcharts.js"></script>
    <script src="~/js/plugins/highcharts/modules/sankey.js"></script>
    <script src="~/js/plugins/highcharts/modules/organization.js"></script>
    <script src="~/js/plugins/highcharts/modules/exporting.js"></script>
    <script src="~/js/plugins/highcharts/modules/accessibility.js"></script>
    <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/core/vOrganigrama.js?v=1.0.7"></script>
    <script src="~/js/plugins/raphael.js"></script>
    <script src="~/js/plugins/Treant.js"></script>
    <script src="~/js/plugins/jquery.mousewheel.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>  
}