
PMCTool.App/bin/Debug/netcoreapp2.2/appsettings.json
PMCTool.App/bin/Debug/netcoreapp2.2/en-US/PMCTool.App.resources.dll
PMCTool.App/bin/Debug/netcoreapp2.2/es-MX/PMCTool.App.resources.dll
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.deps.json
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.dll
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.pdb
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.runtimeconfig.dev.json
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.runtimeconfig.json
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.Views.dll
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.App.Views.pdb
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.Common.RestConnector.dll
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.Common.RestConnector.pdb
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.Models.dll
PMCTool.App/bin/Debug/netcoreapp2.2/PMCTool.Models.pdb
PMCTool.App/obj/Debug/netcoreapp2.2/en-US/PMCTool.App.resources.dll
PMCTool.App/obj/Debug/netcoreapp2.2/es-MX/PMCTool.App.resources.dll
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.AssemblyInfo.cs
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.AssemblyInfoInputs.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.assets.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.csproj.CopyComplete
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.csproj.CoreCompileInputs.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.csproj.FileListAbsolute.txt
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.csproj.GenerateResource.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.csprojAssemblyReference.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.dll
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.pdb
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.RazorAssemblyInfo.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.RazorAssemblyInfo.cs
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.RazorCoreGenerate.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.RazorTargetAssemblyInfo.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.RazorTargetAssemblyInfo.cs
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.Resources.SharedResource.en-US.resources
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.Resources.SharedResource.es-MX.resources
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.TagHelpers.input.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.TagHelpers.output.cache
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.Views.dll
PMCTool.App/obj/Debug/netcoreapp2.2/PMCTool.App.Views.pdb
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Auth/Login.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LayoutLogin.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
PMCTool.App/obj/**/*.*
PMCTool.App/PMCTool.App.csproj.user
/.vs/PMCTool.App
/.vs/config
/.vs
/PMCTool.App/obj/Debug/netcoreapp2.2/Razor/Views/Currencies
PMCTool.App/bin/Release/netcoreapp2.2/en-US/PMCTool.App.resources.dll
PMCTool.App/bin/Release/netcoreapp2.2/es-MX/PMCTool.App.resources.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.Views.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.Views.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Common.RestConnector.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Common.RestConnector.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Models.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Models.pdb
PMCTool.App/bin/Release/netcoreapp2.2/appsettings.json
PMCTool.App/bin/Release/netcoreapp2.2/en-US/PMCTool.App.resources.dll
PMCTool.App/bin/Release/netcoreapp2.2/es-MX/PMCTool.App.resources.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.Views.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.Views.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Common.RestConnector.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Common.RestConnector.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Models.dll
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.Models.pdb
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.runtimeconfig.json
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.runtimeconfig.dev.json
PMCTool.App/bin/Release/netcoreapp2.2/PMCTool.App.deps.json
PMCTool.App/bin/Debug/netcoreapp2.2/appsettings.Development.json
PMCTool.App/bin/Debug/netcoreapp2.2/libman.json
PMCTool.App/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
PMCTool.App/bin/Debug/netcoreapp2.2/References/PMCTool.Common.RestConnector/PMCTool.Common.RestConnector.deps.json
PMCTool.App/bin/Debug/netcoreapp2.2/References/PMCTool.Models/PMCTool.Models.deps.json
/PMCTool.App/bin/Release/netcoreapp2.2
/PMCTool.App/bin/Debug/netcoreapp3.1
/PMCTool.App/.config
/PMCTool.App/bin/Release/netcoreapp3.1
