<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="card card-register card-plain text-center">
                    <div class="card-header ">
                        <div class="row  justify-content-center pt-4">
                            <div class="col-md-8 mt-4 pt-4">
                                <div class="header-text">
                                    <center class="icon-allowed">
                                        <i class="@ViewBag.Icon iconMessage" aria-hidden="true"></i>
                                        <h2 class="card-title mt-3">@ViewBag.Title</h2>
                                        <h4 class="card-subtitle p-2">@ViewBag.Message</h4>
                                    </center>
                                    <a href='javascript:;' onclick="window.history.back();" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-long-arrow-alt-left"></i> Regresar</a>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>