.color-entiempo {
    color: #4CAF50;
}
.color-atrasado {
    color: #f7d408;
}
.color-conimpacto {
    color: #dc3545;
}
.color-cerrado {
    color: dimgrey;
}
.color-cancelado {
    color: #545454;
}
.color-archivado {
    color: black;
}
.color-gray {
    color: #868686;
}
.color-orange {
    color: #ff5722;
}