.select{
    background-color: white !important;
}
.encabezado {
    /*color: #9A9A9A;*/
    text-transform: uppercase;
    font-weight: 500;
    color: gray;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}
td{
    border: 1px solid #c7c7c7;
}
.marcos-tabla{
    border: 1px solid #205180; border-radius: 5px 5px 0px 0px
}
.tg-yjjc {
    color: #9A9A9A;
    font-weight: 100;
}
.total-actividad{
    font-weight: 500;
}