.clase{
    height: 6px !important;
}
#list{
    list-style-type: none;
}
.legend {
    display: -webkit-flex;
    width: 15px;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin-right: 10px;
}
.indicador-planeada{
    border-color: rgb(124, 181, 236)
}
.indicador-real{
    border-color: red
}
.indicador-lineaBase{
    border-color: gray;
}