.columnaAsignacionPendiente {
    padding: 0px !important;
}
.st-in-blue-2 {
    background-color: #205180;
    color: black;
    padding: 0px 0px 0px 1px;
    border-radius: 3px;
    color: white;
}
.pro-in {
    background-color: #7a4dd4;
    margin-right: 8px;
    padding-right: 4px;
    padding-left: 6px;
}

.mx-sm-3 {
    margin-left: 0px !important;
}

.st-in-blue {
    background-color: #205180;
    color: black;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    color: white;
}

.charts-top107 {
    margin-top: 107px;
}

.charts-top8 {
    margin-top: 8%;
}

.charts-top15 {
    margin-top: 15%;
}

.ColumnaActividadesHorasPlaneadas {
    padding: 0px !important;
}

.columnaComentarios {
    height: 50px;
    overflow: scroll;
}

.columnaComentario {
    width: 50%;
}

.marco-tablas {
    border: 1px solid #205180;
    border-radius: 5px 5px 0px 0px;
}

.encabezado {
    margin-bottom: auto;
}
#AsignacionesPendientes {
height:500px;
}

