.underlike-bold{
    text-decoration: underline;
    font-weight: bold;
}
.st-in-blue {
    background-color: #205180;
    color: black;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    color: white;
}
td.details-control {
    background: url('../../assets/img/details_open.png') no-repeat;
    position: relative;
    text-align: center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../assets/img/details_close.png') no-repeat;
}
body {-webkit-print-color-adjust: exact;}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #22527e;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #21527f;
    left: 23px;
    width: 15px;
    height: 15px;
    z-index: 400;
}
.subtitle-detalle {
    font-weight: bold !important;
}

/* Scroll*/
.scroll {
    height: 450px;
    min-height: 450px;
    /* margin: 2rem auto; */
    /* border: 1px solid #aaa; */
    /* height: 300px; */
    /* width: 90%; */
    /* max-width: 400px; padding: 0 1rem;*/
    background: #f1f2f3;
    overflow: auto;
    box-sizing: border-box;

}
.scroll-ficha {
    height: 700px;
    min-height: 700px;
    /* margin: 2rem auto; */
    /* border: 1px solid #aaa; */
    /* height: 300px; */
     width: auto;
    /* max-width: 400px; padding: 0 1rem;*/
    background: #f1f2f3;
    overflow: auto;
    box-sizing: border-box;

}
.scroll-slim::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-slim::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll-slim::-webkit-scrollbar-button:increment,.scroll-slim::-webkit-scrollbar-button {
    display: none;
}

.scroll-slim::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll-slim::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll-slim::-webkit-scrollbar-track {
    border-radius: 10px;
}