.title-pendientes{
    font-weight: 600;
    font-size: 1em;
}
.box-status hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.mt-header-report{
    background-color: #205280;
    color: white;
    font-weight: 500;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.border-lr-2{
    border-left: 2px solid #205280;
    border-bottom: 2px solid #205280;
    border-right: 2px solid #205280;
}
.report-status thead tr th{
    font-size: .7em;
    text-align: center;
}
.report-status tbody tr td{
    font-size: .9em;
    text-align: justify;
}
.box-bordes{
    border-left: 2px solid #20527f;
    border-right: 2px solid #20527f;
    border-bottom: 2px solid #20527f;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-bordes-2{
    border: 2px solid rgb(91, 119, 229);
    border-bottom-right-radius: 5px;
    border-radius: 5px;
    margin: 0px 0px 6px 0px;
}
.lbl-responsable-2 {
    background-color: rgb(91, 119, 229);
    padding-top: 5px;
    color: white;
    padding-bottom: 3px;
    font-weight: 600;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.mayusculas{text-transform: uppercase;}

.st-filtros {
    background-color: #9e9e9e2e;
    color: black;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
}
.card-2 {
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.btn-2 {
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    padding: 2px 14px;
    border: 1px solid #205280;
    color: #FFFFFF;
    background-color: #205280;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 0.875rem;
    line-height: 1.42857143;
}
.btn-3 {
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    padding: 8px 16px;
    border: 1px solid #ececec;
    color: #6f6f6f;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 0.875rem;
    line-height: 1.42857143;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
.bg-black{    background-color: #4e4e4e;}
.bg-black th{  color: white !important;
    font-weight: bold !important;}
.pointer {cursor: pointer;}