@{
    var lang = Context.Request.Cookies["pmctool-lang-app"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Página comercial del PMC-tool">
    <meta name="author" content="InovenTI">
    <title>PMC-Tool&reg; Application</title>
    <link rel="shortcut icon" href="~/images/icono_pmc_tool.png" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pmctool.css" asp-append-version="true" />

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/plugins/js.cookie.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>

    @if (lang == null || lang == "es-MX")
    {
        <script src="~/lib/jquery-validate/localization/messages_es.min.js" asp-append-version="true"></script>
    }

</head>
<body>
    <div class="wrapper wrapper-full-page">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="https://pmc-tool.com" target="_blank">PMC Tool</a>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        @RenderBody()
        @await Html.PartialAsync("~/Views/Shared/_LayoutFooterPartial.cshtml")
    </div>


    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/plugins/bootstrap-selectpicker.js" asp-append-version="true"></script>
    <script src="~/js/plugins/sweetalert2.min.js" asp-append-version="true"></script>
    <script src="~/js/light-bootstrap-dashboard.js" asp-append-version="true"></script>
    <script src="~/js/pmctool.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<div id="loader" class="spinner" hidden="hidden">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<script>
    $(document).ready(function () {
        demo.checkFullPageBackgroundImage();

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>