<div class="content">
               <div class="container-fluid">

                  <div class="col-md-12 card">
                     <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                        <div class="col-md-12 pt-4">
                           <small class="font-weight-normal">Analytics</small>
                           <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                              <span class="color-drackgreen"> Avances de sucursales	</span>
                           </h4>
                        </div>
                        <div class=""> 
                    <div class="container-fluid pl-0 ml-0">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12">
                            <div class="row"> 
                                    <div class="col-3">
                                        <select name="Estate" id="Estate" class="selectpicker" data-title="Estado" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                                <option value="14">predio 1</option>
                                                <option value="20">predio 1</option>
        
                                        </select>
                                    </div>
                                    
                                    <div class="col-2">
                                        <select multiple id="Municipios" name="Municipios" class="selectpicker" data-title="Municipio" data-style="btn-default btn-outline" data-menu-style="dropdown-blue" multiple data-actions-box="true"> 
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select multiple name="tipopredio" class="selectpicker" id="tipopredio" data-title="Tipo de predio" data-style="btn-default btn-outline" data-menu-style="dropdown-blue" multiple>
                                                <option value="1">MUNICIPAL</option>
                                                <option value="2">FEDERAL</option>
                                                <option value="3">PROPIEDAD SOCIAL</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-2">
                                        <select name="tipovista" id="tipovista" class="selectpicker" data-title="Vista" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                                <option value="default" selected>Default</option>
                                                <option value="porcentaje">Porcentaje</option> 
                                        </select>
                                    </div>
                                    <div class="col-3 mt-1">
                                        <div class="row">
                                            <button type="button" class="btn btn-wd btn-default btn-default" id="bntReport">
                                                <span class="btn-label">
                                                    <i class="fa fa-file-alt"></i>
                                                </span>
                                                Mostrar Reporte
                                            </button>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-12 text-right text-right">
                                <button class="btn btn-social btn-tumblr btn-link">
                                                <i class="fas fa-file-pdf"></i> Exportar en PDF
                                                </button>
                            </div>
                            <div class="col-12">
                                <div class="card data-tables">
                                    <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                    <div class="toolbar"> 
                                        </div>
                                        <div class="_tablereport">
                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end allow-->
                </div>
                     </div>
                  </div>
               </div>
            </div>
@section Scripts {
  <script src="~/js/plugins/jquery.dataTables.min.js"></script>

    <script src="~/js/core/vBranchAdvances.js"  asp-append-version="true"></script>
}
