
@{
    ViewData["Title"] = "Ficha de proyectos";
}

<link href="~/css/progress-circle.css" rel="stylesheet" />
<link href="~/css/detalle-actividad.css" rel="stylesheet" />
<input type="hidden" id="ProjectID" name="Project_ID" value="@Model.ProjectID">

<div class="content">
    <div class="container-fluid card">
        <div class="col-md-12">
            <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                <div class="col-md-12 pt-4">
                    <small class="font-weight-normal">Analytics</small>
                    <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                        <span class="color-drackred"> Ficha de proyectos	</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="container-fluid pl-0 ml-0">
            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    <div class="row justify-content-left">
                        <div class="col-4 pb-2">
                            <select name="Proyecto" class="selectpicker show-tick resetSelect" id="proyecto" data-title="--Seleccione un proyecto--" data-live-search="true" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                @{
                                    var collection = new SelectList(ViewBag.Projects, "Key", "Value");
                                    foreach (var item in collection)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4 pb-2"></div>
                        <div class="col-md-4 pb-2 text-center" id="index_card_buttons">
                            <div class="row">
                                <button type="button" id="btnSearch" class="btn btn-wd btn-default mr-1"><span class="btn-label"><i class="fa fa-file-alt"></i></span>Mostrar Reporte</button>
                                 <button type="button" id="btnClose" class="btn btn-wd btn-default btn-default mr-1"><span class="btn-label"><i class="fas fa-times"></i></span> Cerrar Reporte</button>
                            </div>
                        </div>
                    </div>
                    <div id="divFichaTecnicaProyecto">
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-12 text-right text-right">
                                <button class="btn btn-social btn-tumblr btn-link bntReportPDF">
                                    <i class="fas fa-file-pdf"></i> Exportar en PDF
                                </button>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="row">
                                                    <h5 class="media align-items-center font-weight-bold  ml-2"><span class="color-drackred" id="projectName"></span></h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10 headbox-factsheet">
                                                        <h5 class="textheadbox-factsheet">Resumen ejecutivo</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10 borderbox-factsheet">
                                                        <p style="line-height: 1;">
                                                            <em style="font-size: 11px;" id="resumenEjecutivo">

                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-10 headbox-factsheet">
                                                        <h5 class="textheadbox-factsheet">Decisiones clave</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10 borderbox-factsheet">
                                                        <p style="line-height: 1;">
                                                            <em style="font-size: 11px;" id="DesicionesClave">

                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-12 mt-1"> <h6>Intitución que administra el inmueble: <span id="institucion"></span></h6> </div>
                                                    <div class="col-md-12 mt-1"> <h6>Tipo de predio: <span id="tipoPredio"></span></h6> </div>
                                                    <div class="col-md-12 mt-1"> <h6>Categoria de predio: <span id="categoriaPredio"></span></h6> </div>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <div class="row text-center justify-content-center">
                                                            <div class="col-12">
                                                                <h6>Avance general</h6>
                                                            </div>
                                                            <div class="col-12 mt-2" id="progress"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12 mt-1">
                                                                <h6>Estado: <span id="estado"></span></h6>
                                                            </div>
                                                            <div class="col-12 mt-1">
                                                                <h6>Municipio: <span id="municipio"></span></h6>
                                                            </div>
                                                            <div class="col-12 mt-1">
                                                                <h6>Localidad: <span id="localidad"></span></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table id="tFactSheet" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Etapas</th>
                                                                    <th>Avance</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tStageProgress"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/core/vFactSheet.js" asp-append-version="true"></script>
    <script type="text/javascript">
                saveUrl('@AppSettings.Current.UrlPMCTool');
    </script>
}

