@model PMCTool.Models.Core.Location
@{
    ViewData["Title"] = "Estatus Global";
    Layout = "_Layout";
}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12 card">
            <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                <div class="col-md-12 pt-4">
                    <small class="font-weight-normal">Analytics</small>
                    <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                        <span class="title-report">Estatus global </span>
                    </h4>
                </div>
                <div class="">
                    <!-- allow-->
                    <div class="container-fluid pl-0 ml-0">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-5">
                                        <select multiple name="Entidad" class="selectpicker" data-title="Selecciona un portafolio" data-style="btn-default btn-outline" data-menu-style="dropdown-blue" multiple>
                                            <option value="id">Aguascalientes</option>
                                            <option value="ms">Baja California</option>
                                            <option value="ca"> Baja California Sur</option>
                                            <option value="da">Campeche</option>
                                            <option value="da">Chiapas</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-5">
                                        <select multiple name="DireccionG" class="selectpicker" data-title="Selecciona un programa" data-style="btn-default btn-outline" data-menu-style="dropdown-blue" multiple>
                                            <option value="id">DG Desarrollo Carretero (UI)</option>
                                            <option value="ms">DG Desarollo Ferroviario</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 pt-2">
                                        <button type="button" class="btn btn-default btn-default">
                                            <i class="fas fa-file-pdf"></i> Generar reporte
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-1">
                            <div class="col-md-12 text-right text-right">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button type="button" class="btn btn-default btn-default">
                                            <i class="fas fa-file-pdf"></i> Exportar
                                        </button>
                                        <a href="http://doc.pmc-tool.mx/PMCAnalytics/demo25/1B/" class="btn btn-default btn-success">
                                            <i class="fas fa-file-pdf"></i> Table cuando se selecione un Programa
                                        </a>
                                        <button type="button" class="btn btn-default btn-default">
                                            <i class="fas fa-file-pdf"></i> Cerrar reporte
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <figure class="highcharts-figure">
                                    <div id="container1" style="height: 500px;"></div>
                                    <p class="highcharts-description"></p>
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <figure class="highcharts-figure">
                                    <div id="container2" style="height: 500px;"></div>
                                    <p class="highcharts-description"></p>
                                </figure>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body ">
                                        <div id="regularMap" class="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end allow-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección de scripts-->
@section scripts{
    <script src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/js/core/vGlobalStatus.js" asp-append-version="true"></script>
}